---
layout: secondary-page
title:  "Archives de la revue Aide-mémoire"
img_file: "aide-memoire/page-title-aide-memoire.jpg" 
permalink: /archives-aide-memoire/
breadcrumb_parent_title: Aide-mémoire
breadcrumb_parent_src: aide-memoire
class: archives-am-page
pagination:
  enabled: true
  collection: aide-memoire-numeros
  sort_field: num
  sort_reverse: true
---
<div class="agenda agenda--archives">
    <ul class="post-list list--no-style blocks">
      {% for item in paginator.posts %}
        {% assign col = item.collection %}
        {% if col == "agenda" %}
          {% assign event = item %}
          <li class="block post-list__item">{%- include posts/event-template.html -%}</li>
        {% elsif col == "actualites" %}
          {% assign post = item %}
          <li class="block post-list__item">{%- include posts/news-template.html -%}</li>
        {% elsif col == "aide-memoire-numeros" %}
          {% assign am = item %}
          <li class="block post-list__item">{%- include am-num-template.html -%}</li>
        {% elsif col == "books" %}
          {% assign book = item %}
          {%- include book-template.html -%}
        {% endif %}
      {% endfor %}
    </ul>
  </div>