.homepage-news {
    background-color:$bleu-tm-ultra-light;
    padding-top:0;
    margin-top:0;

    .wrapper {
        padding-top:$spacing-unit*4;
        padding-bottom:$spacing-unit*2;

        @media screen and (min-width:1024px) {
            padding-bottom:0;    
        }
    }    

    .agenda {
        margin-top:$spacing-unit*4;

        @media screen and (min-width:1024px) {
            margin-top:0;
        }    
    }

    .post-list {
        margin-top:$spacing-unit*2;
    }

    .post-list__item {
        position:relative;
        margin-bottom:$spacing-unit*2;
            
        &:before {
            @extend %after-triangle;
            top:5px;
            z-index:20;
            border-color:$bleu-tm-ultra-light transparent transparent transparent;  
            transition:border-color 150ms ease-out;          
        }    

        &:hover, &:focus {
                    
            &:before {
                border-color:$rouge-tm transparent transparent transparent;            
            }
        }

        &:active {
                    
            &:before {
                border-color:$bleu-tm-ultra-light transparent transparent transparent;            
            }
        }
    }

    .page-section__title {
        color:white;
        background-color:$rouge-tm;
        position:relative;
        padding:$spacing-unit/2 0;
        margin-top:0;
        border:5px solid $bleu-tm-ultra-light;
        transition:border-color 150ms ease-out;

        &:hover, &:focus {
            border-color:$bleu-tm;

            &::after {
                border-color: $bleu-tm transparent transparent transparent;
                bottom:-25px;
            }
        }

        &::after {
            @extend %after-triangle;
            border-color: $rouge-tm transparent transparent transparent;  
            bottom:-$spacing-unit;
            transition:border-color 150ms ease-out, bottom 150ms ease-out;
        }
    }

    .post:first-of-type {
        margin-bottom:$spacing-unit;    
    }

    .post__link {
        display: block;
        background: white;
        transition:border-color 150ms ease-out;
        border: 5px solid $bleu-tm-ultra-light;    

        &:hover, &:focus {
            border-color:$rouge-tm;
            
            .post-list__item {
                    
                &:before {
                    border-color:$rouge-tm transparent transparent transparent;            
                }    
            }
        }

        &:active {
            border-color:$bleu-tm-ultra-light;  
        }
    }

    .post__header__img {
        margin:0;    
    }

    .post__content {
        padding:0 $spacing-unit $spacing-unit $spacing-unit;
        column-count:auto;
    }

    .post__meta {
        margin-right:0;
        margin-left:0;
        padding:$spacing-unit/2;

        .list {
            margin-bottom:0;    
        }    
    }

    .post__excerpt {
        margin-bottom:$spacing-unit;
        color:$text-color;    
    }
}

.zero-event-container {
    
    @media screen and (min-width:1024px) {
        margin-top:198px;    
    }
}

.zero-event__emoticon {
    @include pj-regular;
    font-size: 2.2rem;
    color: $bleu-tm;
    margin: 0 auto $spacing-unit/2 auto;
    width: 4.3em;    
}

.zero-event__text {
    margin:0 auto $spacing-unit auto;
    color: $bleu-tm;
    text-align: center;    
}

.zero-event__button {
    margin-top:$spacing-unit;
    text-align: center;    
}