.homepage-intro.page-section {
    margin:0;
    padding:$su*2 $su;
    background:$bleu-tm;
    color:white;

    @media screen and (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        gap: $su*2;   
    }

    .page-section__title {
        margin-top:0;  
        text-align:left;  
    }

    .page-section__description {
        grid-column: 2;
        max-width: 56ch;
        margin-bottom:0;
        padding:0;
        text-align: center;
        @include relative-font-size(1.1);
        
        @media screen and (min-width:560px) {
            text-align: left;
        }
    }

    a.button {
        @include relative-font-size(0.8);
        margin:$su/2 0.5em 0 0;
    }
}

.homepage-intro__actions {
    display: flex;
    flex-direction:column;
    align-items: center;
    max-width: 540px;
    margin: $su*2 auto 0 auto;

    @media screen and (min-width:540px) {
        flex-direction:row;
        justify-content: center;
        align-items:center;
    }
    
    @media screen and (min-width:768px) {
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        margin: 0;
    }
}

.homepage-intro__actions__button {
    max-width:220px;
    width:100%;
    margin-bottom:$su;

    @media screen and (min-width:540px) and (max-width: 767px) {
        margin:0 $su;
    }

    &:last-of-type {
        margin-bottom:0;    
    }

    &.social {
        height:75px;
        background-color:transparent; 
    } 

    a.button {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        margin-top:0;
        background:white;

        h3.homepage-intro__actions__button__text {
            color:$rouge-tm;
        }

        .homepage-intro__actions__button__img--color {
            fill:$rouge-tm;
        } 

        &:hover, &:focus {
            border-color:$bleu-tm;
            
            h3.homepage-intro__actions__button__text {
                color:$bleu-tm;

                .social & {
                    color:white;    
                }
            }
            
            .homepage-intro__actions__button__img--color {
                fill:$bleu-tm;
            }    
        }
    }
}

h3.homepage-intro__actions__button__text {
    display: block;
    @include pj-medium;
    @include relative-font-size(1.1);
    line-height: 1.3;
    color:white;
    margin-bottom:0;
    transition:color 150ms ease-out;

    .social & {
        color:white;
        text-align: center;
    }
}

.homepage-intro__actions__button__img {
    width:60px;
    height:62px;
}

.homepage-intro__actions__button__img--color, .st0.homepage-intro__actions__button__img--color  {
    fill:$bleu-tm;    
    transition:fill 150ms ease-out;    
}

.homepage-intro__actions__social-items {
    display: flex;
    justify-content: space-around;
}

a.homepage-intro__actions__social-item {
    display: flex;
    align-items: center;

    &:hover, &:focus {

         .homepage-intro__actions__social-item__img-color {
            fill:$rouge-tm;    
        }   
    }   
}

.homepage-intro__actions__social-item__img {
    height:25px;
}

.homepage-intro__actions__social-item__img-color {
    fill:white;
    transition:fill 150ms ease-out; 
}