
.aide-memoire .page-title__img img {
    min-height:1px;    
}

.page-am-num__title {
    order:1;
    color:$bleu-tm;
    transition:color 150ms ease-out;

    @media screen and (max-width:399px) {
        text-align: center;
    }
}

.page-am-num__date {
    @include relative-font-size(0.9);
}

.page-am-num__excerpt {
    order:3;
    color:$text-color;  

    @media screen and (max-width:399px) {
        text-align: justify;
        hyphens: auto;
    }
}

a.page-am-num__link {
    display:block;
    background:none;

    @media screen and (max-width:399px) {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    &:first-of-type {
        margin-top:$spacing-unit*2;    
    }

    &:hover, &:focus {
        background:none;

        .page-am-num__img {
            border-color:$rouge-tm;   
        }
        
        .page-am-num__title {
            color:$rouge-tm;    
        }

        .page-am-num__excerpt {
            background: none;
            color:$text-color;    
        }
    }    

    &:active {

        .page-am-num__img {
            border-color:$bleu-tm;   
        }
        
        .page-am-num__title {
            color:$bleu-tm;    
        }
    }   
}

.page-am-num__img {
    order:2;
    max-width: 200px;
    float: left;
    margin-right: $spacing-unit;
    border:3px solid $bleu-tm;
    transition:border-color 150ms ease-out;

    @media screen and (max-width:399px) {
        margin:0 0 $spacing-unit/2 0;
    }
}

.am-archives-link-wrapper {
    margin-top:$spacing-unit*4;
    text-align: center;
}

#am-search-input {
    display:block;
    padding:0.5em;
    line-height:1.5;
    margin:0 auto;
}

#am-results-container {
    margin-top:$spacing-unit*2;
}

.am-result {
    margin-bottom: $spacing-unit;
}

.am-result__title {
    margin-bottom:0;
}

a.am-result__link {
    display:inline-block;
    background:none;

    &:hover {

        .am-result__title {
            color:$rouge-tm;
        }
    }
}

@import
    "../_aide-memoire/am-post",
    "../_aide-memoire/am-numero"
;