.eduquer {
    
    .page-section__header {

        .card {
            max-width:465px;
            margin-right:auto;
            margin-left:auto;
        } 
    }   
}

@supports (display:grid) {
    
    @media screen and (min-width:768px) {

        .eduquer {
        
            .page-section__header {
                display: grid;
                grid: auto-flow / [start] $spacing-unit [start-txt] minmax(auto, 737px) [stop-txt] $spacing-unit*2 [start-card] minmax(305px, auto) [stop-card] $spacing-unit [stop];
                grid-row-gap: $spacing-unit*2; 

                .card {
                    margin:0;
                    align-self: baseline;
                    grid-column-start:start-card;
                } 
            }    

            .page-section__img {
                grid-column: start / stop; 
            }

            .page-section__title {
                margin:0;
                padding:0;
                grid-column: start-txt / stop-card;
                justify-self: center;
            }

            .page-section__description {
                margin:0;
                padding:0;
                grid-column: start-txt / stop-txt;
            }

            .page-section__content {
                margin-top:$spacing-unit*2;    
            }
        }
    }
    
}   

.list--peda {
    margin-top:$spacing-unit;
    margin-bottom:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li {
        margin-bottom:$spacing-unit/2;
    }

    @media screen and (min-width:600px) {
        display:inline-block;
    }
}

.expos-itinerantes {

    .pdf-txt__item {
        margin-bottom:$spacing-unit*2;

        a.button {
            font-size: 0.85em;
        }
    }
}

.list--formations {

    .card {
        margin-top:$spacing-unit;
        margin-bottom: 0;
    }
}