.soutiens {
    
    .page-title__img {

        img {    
            object-position: center;
        }
    }    
    
}

.soutiens__intro-text {
    margin: $su*2 auto $su*4;
    text-align: center;
    
    &__p1 {
        color:$bleu-tm;
    }

    &__p2 {
        margin-bottom:0.25em;
    }
}

#devenir-membre {

    .card {
        max-width:568px;
        margin-right:auto;
        margin-left:auto;
    }    
}

.membership-icon {
    float: left;
    margin: 7px $su $su/2 0;
    width: 100px;    
}

.membership-account {
    display:inline-block;
    padding:0 0.4em;
    border:1px solid white;
    letter-spacing:1px;   
}

.membership-content {
    margin-top:$su*4;    

    h3 {
        text-align: center;
        margin-bottom:$su*2;
    }
}

#faire-un-don {

    .page-section__content {
        margin-top:$su*4; 
    }

    h3 {
        @include relative-font-size(1.5);

        @media screen and (min-width:560px) {
            @include relative-font-size(1.8);
        }
    }

    h4 {
        @include relative-font-size(1.25);

        @media screen and (min-width:560px) {
            @include relative-font-size(1.4);
        }
    }
}

.donate-content {
    max-width:$large-width;
    margin-top:$su*4;

    .block__header__img {
        display:flex;   
    }
}

.donate-card {
    display:flex;
    flex-direction:column;
    margin:$su*4 auto $su auto;
    max-width:400px;

    @media screen and (min-width:560px) {
        flex-direction:row;
        max-width: 100%;
        padding:0;
    }
    
    @media screen and (min-width:1024px) {
        margin-top:0;
    }  

    .left {
        width: $su*4;
        margin:0 auto $su auto; 
        
        @media screen and (min-width:560px) {
            width: 130px;
            margin:9px $su 0 0;
        }

        .donate-icon {
            width:100%;
        }
    }

    .right {

        h3 {
            text-align: center;
            color:$bleu-tm;
            
            @media screen and (min-width:560px) {
                text-align: left;
            }    
        }
    }
}

.donate-seven {

    h3 {
        margin-bottom:$su;
    }
}

ul.donate-seven__list {
    margin:$su 0 $su 0;

    @media screen and (min-width:600px) {
        margin:$su 0 $su 0;
    }
}

li.donate-seven__item {
    display:flex;
    align-items: flex-start;
    margin-bottom:$su;

    &:last-child {
        margin-bottom:0;
    }
}

.donate-seven__item__num {
    font-weight: bold;
    color: $bleu-tm-ultra-light;
    margin-right: $su;
    display: flex;
    margin-bottom: auto;
    line-height: 1.2em;
    @include relative-font-size(2.4);
    @include pj-black;
}

.donate-seven__item__text {
    display: block;
}

.donate-reduction {
    max-width:580px;
    margin-bottom:$su*4;
}

.donate-otherwise__title {
    margin-top:$su*4;
    margin-bottom:$su*2;
}

.donate-otherwise__wrapper {
    align-items: stretch;
}

.donate-otherwise__item {
    max-width:380px;
}

a.donate-otherwise__link {
    display: block;
    background:$bleu-tm;
    color:white;
    padding:0;
    margin:0;
    height:100%;
    transition:background-color 150ms ease-out;

    &:hover, &:focus {
        background-color:$rouge-tm;
    }
}

.donate-otherwise__img {
    width:100%;
}

.donate-otherwise__text {
    padding: 0.5em 1em;
    margin-bottom: 0;
}

.brochure-testament {
    display:flex;
    flex-direction: column;
    margin:$su 0 0;
    padding:0 $su;
    text-align: center;

    .button {
        margin-top:$su;
    }

    @media screen and (min-width:1024px) {
        flex-direction: row;
        margin-bottom: $su;
        text-align: left;

        .block:nth-of-type(2) {
            margin-left:$su;
        }
    }   
}