---
layout: secondary-page
title:  "Archives des coups de cœur de la bibliothèque George Orwell"
img_file: /biblio/coups-de-coeur.jpg
permalink: /archives-coups-de-coeur-bibliotheque/
breadcrumb_parent_title: Bibliothèque et Librairie
breadcrumb_parent_src: /bibliotheque
class: archives-heart
pagination:
  enabled: true
  collection: books
  sort_field: version
  sort_reverse: true
  per_page: 30
---

<div class="agenda agenda--archives">
    <ul class="post-list list--no-style blocks">
      {% for item in paginator.posts %}
        {% assign col = item.collection %}
        {% if col == "agenda" %}
          {% assign event = item %}
          <li class="block post-list__item">{%- include posts/event-template.html -%}</li>
        {% elsif col == "actualites" %}
          {% assign post = item %}
          <li class="block post-list__item">{%- include posts/news-template.html -%}</li>
        {% elsif col == "aide-memoire-numeros" %}
          {% assign am = item %}
          <li class="block post-list__item">{%- include am-num-template.html -%}</li>
        {% elsif col == "books" %}
          {% assign book = item %}
          {%- include book-template.html -%}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
<script>
/* remove unnecessary <br> */
document.querySelectorAll('.pdf-txt__item__text__txt br').forEach(function(e) {e.parentNode.removeChild(e)})
</script>