{% if book.tag == "heart" %}
<li class="block post-list__item block archives-heart__list__item">
    <div class="pdf-txt__item">
        {% if book.book_link and book.book_link != '' %}
            <a 
            class="pdf-txt__item__link book__link"
            href="{{ book.book_link | uri_escape  }}" title="{{ book.title }}">
        {% endif %}
                <div class="pdf-txt__item__text book__content">
                    <h3 class="pdf-txt__item__text__title book__title">
                        <span class="mini-heart">♡</span>
                        {% if book.author != '' %}{{ book.author }}, {% endif %}{% if book.extra != '' %}{{ book.extra }}, {% endif %}{% if book.title != '' %}<em>{{ book.title }}</em>, {% endif %}{% if book.editor != '' %}{{ book.editor }}, {% endif %}{% if book.col != '' %}{{ book.col }}, {% endif %}{% if book.year != '' %}{{ book.year }}{% endif %}{% if book.price != '' %}, {{ book.price }}{% endif %}
                    </h3>
                    <div class="book__body">
                        <div class="book__img-wrapper">
                            <img 
                            class="pdf-txt__item__img book__img"
                            src="{{ book.img_src | uri_escape  }}" 
                            alt="{{ book.title }}">
                                <div class="book__img__heart-wrapper">
                                    <img class="book__img__heart" src="/assets/images/icons/tm-icon-heart.svg" alt="{{ book.title | escape }}">
                                </div>
                        </div>
                        <div class="pdf-txt__item__text__txt">{{ book.content | markdownify}}</div>
                    </div>
                </div>
        {% if book.book_link %}        
            </a>
        {% endif %}
    </div>
</li> 
{% endif %}