{% if page.lang %}{% assign pagelang = page.lang %}{% else %}{% assign pagelang = "fr" %}{% endif %}
<footer class="site-footer">
  <div class="wrapper">
    <img class="site-footer__img" src="/assets/images/{{ site.data.footer[pagelang].img.url }}" alt="{{ site.data.footer[pagelang].img.txt }}">
    <nav class="site-footer__list-links list--no-style">
      <ul>
        {% for item in site.data.footer[pagelang].menu %}
          <li><a href="{{ item.link }}" class="site-footer__list-link">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="site-footer__newsletter">
      <img class="site-footer__newsletter__img" src="/assets/images/icons/tm-icon-email-share.svg" alt="lettre d'information">
      <a href="https://my.sendinblue.com/users/subscribe/js_id/2j4af/id/9">{{ site.data.footer[pagelang].newsletter_text }}</a>
    </div>
    <div class="site-footer__address">
      <p>{{ site.data.footer[pagelang].contact.title }}</p>
      <p>{{ site.data.footer[pagelang].contact.address }}</p>
      <p><a href="mailto:{{ site.data.footer[pagelang].contact.email }}">{{ site.data.footer[pagelang].contact.email }}</a></p>
      <p>{{ site.data.footer[pagelang].contact.tel }}</p>
      <p>{{ site.data.footer[pagelang].contact.entreprise }}</p>
      <p><a href="/politique-de-confidentialite">{{ site.data.footer[pagelang].contact.privacy }}</a></p>
    </div>
    <div class="site-footer__small-text">
      <ul class="list--no-style">
        {% for award in site.data.footer[pagelang].awards %}
          <li>{{ award }}</li>
        {% endfor %}
      </ul>
      <p class="site-footer__soutien">{{ site.data.footer[pagelang].support_text }}</p>
      <ul class="list list--no-style list--inline">
        <li>
          <a href="http://www.federation-wallonie-bruxelles.be/" title="Fédération Wallonie-Bruxelles">
            <img src="{{ 'assets/images/icons/fed_wal_bxl.svg' | relative_url }}" alt="Fédération Wallonie-Bruxelles">
          </a>
        </li>
        <li>
          <a href="http://www.wallonie.be/" title="Région Wallonne">
            <img src="{{ 'assets/images/icons/wallonie.svg' | relative_url }}" alt="Région Wallonne">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<button id="top-link">
  <svg width="40" height="40"><path fill="#FFF" d="M1 40V1h38v39"/><path class="top-link__color" fill="#003B62" d="M40 40h-2V2H2v38H0V0h40z"/><g><path fill="#FFF" d="M9.975 25.013L20 14.987l10.025 10.026"/><path class="top-link__color" fill="#003B62" d="M29.316 25.721L20 16.405l-9.316 9.316-1.418-1.417L20 13.569l10.733 10.735z"/></g></svg>
</button>