<footer class="site-footer">
  <div class="wrapper">
    <img class="site-footer__img" src="/assets/images/centre-d-education-a-la-resistance-et-a-la-citoyennete.svg" alt="Centre d'Éducation à la Résistance et à la Citoyenneté">
    <nav class="site-footer__list-links list--no-style">
      <ul>
        <li><a href="/presse" class="site-footer__list-link">Presse</a></li>
        <li><a href="/ressources-graphiques" class="site-footer__list-link">Ressources graphiques</a></li>
        <li><a href="/education-permanente" class="site-footer__list-link">Éducation permanente</a></li>
        <li><a href="/soutiens" class="site-footer__list-link">Ils nous soutiennent</a></li>
        <li><a href="/en-lien" class="site-footer__list-link">En lien</a></li>
        <li><a href="/aux-livres-citoyens" class="site-footer__list-link">Aux Livres,&nbsp;Citoyens !</a></li>
      </ul>
    </nav>
    <div class="site-footer__newsletter">
      <img class="site-footer__newsletter__img" src="/assets/images/icons/tm-icon-email-share.svg" alt="lettre d'information">
      <a href="https://my.sendinblue.com/users/subscribe/js_id/2j4af/id/9">Inscrivez-vous à notre lettre d'information</a>
    </div>
    <div class="site-footer__address">
        <p>Territoires de la Mémoire asbl</p>
        <p>Boulevard&nbsp;de&nbsp;la&nbsp;Sauvenière 33-35&nbsp;à&nbsp;4000&nbsp;Liège</p>
        <p><a href="mailto:accueil@territoires-memoire.be">accueil@territoires-memoire.be</a></p>
        <p>Téléphone&nbsp;04&nbsp;232&nbsp;70&nbsp;60 – Fax&nbsp;04&nbsp;232&nbsp;70&nbsp;65</p>
        <p>N° d’entreprise 453&nbsp;099&nbsp;470</p>
        <p><a href="/politique-de-confidentialite">Politique de confidentialité</a></p>
    </div>
    <div class="site-footer__small-text">
      <ul class="list--no-style">
        <li>Association communautaire - Décret Éducation permanente (Fédération Wallonie-Bruxelles)</li>
        <li>Centre de ressources pour la transmission de la Mémoire – Décret Mémoire (Fédération Wallonie-Bruxelles)</li>
        <li>Représentant la Fédération Wallonie-Bruxelles auprès de l’IHRA (International Holocaust Remembrance Alliance)</li>
        <li>Citoyen européen de l’année 2015</li>
      </ul>
      <p class="site-footer__soutien">Avec le soutien de :</p>
      <ul class="list list--no-style list--inline">
        <li>
          <a href="http://www.federation-wallonie-bruxelles.be/" title="Fédération Wallonie-Bruxelles">
            <img src="{{ 'assets/images/icons/fed_wal_bxl.svg' | relative_url }}" alt="Fédération Wallonie-Bruxelles">
          </a>
        </li>
        <li>
          <a href="http://www.wallonie.be/" title="Région Wallonne">
            <img src="{{ 'assets/images/icons/wallonie.svg' | relative_url }}" alt="Région Wallonne">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<button id="top-link">
  <svg width="40" height="40"><path fill="#FFF" d="M1 40V1h38v39"/><path fill="#003B62" d="M40 40h-2V2H2v38H0V0h40z"/><g><path fill="#FFF" d="M9.975 25.013L20 14.987l10.025 10.026"/><path fill="#003B62" d="M29.316 25.721L20 16.405l-9.316 9.316-1.418-1.417L20 13.569l10.733 10.735z"/></g></svg>
</button>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<script defer src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% asset main.js !type %}
