<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <meta property="og:image" content="{%- if page.img_file -%}{{ site.url }}{{ page.img_file }}{%- elsif page.img_src -%}{{ site.url }}{{ page.img_src }}{%- elsif page.title_img -%}{{ site.url }}assets/images/{{ page.title_img }}{%- else -%}{{ site.url }}assets/images/tdlm-facebook-image-og-2018.jpg{%- endif -%}" />
  {% if page.url == "/index.html" %}
    <meta property="og:type" content="website" />
  {% else %}
    <meta property="og:type" content="article" />
  {% endif %}
  
  <link rel="stylesheet" type="text/css" href="/assets/main.css?ver=20200827" />
  <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css" />
  
  <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/cookieconsent.min.css" />

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {%- if page.permalink == "reseau" -%}
  <link rel="stylesheet" href="/assets/css/leaflet.min.css" />
  <script src="/assets/javascript/leaflet.js"></script>
  <script src="/assets/javascript/leaflet.ajax.min.js"></script>
  {%- endif -%}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {%- if page.path contains '_agenda' or page.path contains '_actualites' or page.path contains '_aide-memoire' or page.path contains '_emploi' -%}
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5b1e5adbe9c37c00114cb7b8&product=inline-share-buttons"></script>
  {%- endif -%}
  
</head>
