<header class="site-header">

  <div class="wrapper">

    <ul class="list list--no-style languages">
        {% for lang in site.data.languages %}
            {% assign language = lang[1] %}
            <li>{{ language.flag }} <a href="{{ language.url }}">{{ language.label }}</a></li>
        {% endfor %}
    </ul>
    
    {%- if page.lang and page.lang != "fr" -%}{%- assign page_lang_url = "/" | append: page.lang -%}{%- else -%}{%- assign page_lang_url = "/" -%}{%- endif -%}
    <a class="site-header__logo-link" href="{{ page_lang_url }}">
        <img class="site-header__logo small" src="{{ "/assets/images/tm-header-homepage-small.svg" | relative_url }}" alt="{{ site.title }} - logo">
        <img class="site-header__logo medium" src="{{ "/assets/images/tm-header-homepage-medium.svg" | relative_url }}" alt="{{ site.title }} - logo">
        <img class="site-header__logo large" src="{{ "/assets/images/tm-header-homepage-large.svg" | relative_url }}" alt="{{ site.title }} - logo">
    </a>

    <nav class="site-nav">
      <div class="site-nav__container">
        <button id="site-nav__open-trigger" aria-expanded="false" aria-label="Ouvrir le menu principal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258.243 317.102"><title>Ouvrir le menu principal</title><path fill="#7F9DB0" d="M117.226 293.633l-19.632-33.998H23.797L0 236.169V0h234.446l23.797 23.466v236.168h-84.045l-33.178 57.467-23.794-23.468m-92.268-61.338h76.76l23.225 40.227 23.225-40.227h76.758V30.602H24.958v201.693z" display="block"/><path class="anim" fill="#003B62" d="M217 219h-76.551l-23.226 40.227L93.997 219H18V18h199z"/><g class="anim"><path fill="#FFF" d="M58 42h120v31H58zM58 163h120v31H58zM58 103h120v31H58z"/></g><path fill="#FFF" d="M117.223 293.635l-33.178-57.466H0V0h234.446v236.169H150.4l-33.177 57.466zm-99.985-74.704h76.76l23.225 40.228 23.224-40.228h76.761V17.238H17.238v201.693z"/></svg>
        </button>
    
        <button id="site-nav__close-trigger" tabindex="-1" aria-label="Fermer le menu principal">
            <img class="site-nav__close-trigger__img" src="/assets/images/icons/tm-icon-close_menu.svg" alt="Fermer le menu principal">
        </button>
        
        <ul class="site-nav__list list--no-style">
            {% assign nav_links = site.data.nav.fr %}
            {% if page.lang %}{% assign nav_links = site.data.nav[page.lang] %}{% endif %}
            {% for item in nav_links %}
                <li class="site-nav__item">
                    <a tabindex="-1" class="site-nav__link {{ item.type }}" href="{{ item.url }}" data-text="{{ item.title }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </nav>

  </div>
  
</header>