{%- capture slug -%}{{ include.slug }}{%- endcapture -%}
{%- capture special_mention -%}{{ include.special_mention }}{%- endcapture -%}
<div class="grid pdf {{ slug }}">
    {%- if special_mention == '' -%}
        {%- assign items = site.data.pdf_items | where:'categorie', slug -%}
    {%- else -%} 
        {%- assign items-without-mention = site.data.pdf_items | where:'categorie', slug -%}
        {%- assign items = items-without-mention | where:'special_mention', special_mention -%}
    {%- endif -%}
    {%- for pdf-item in items -%}
        <div class="grid__item pdf__item {{ include.slug }}__item">
            {%- if pdf-item.link -%}
                {%- if pdf-item.external -%}
                    <a 
                    class="grid__item__link {{ include.slug }}__item__link"
                    href="{{ pdf-item.link }}">
                {%- else -%}
                    <a 
                    class="grid__item__link {{ include.slug }}__item__link"
                    href="/assets/pdf/{{ include.folder }}/{{ pdf-item.link }}">
                {%- endif -%} 
                        <img 
                        class="grid__item__img {{ include.slug }}__item__img"
                        src="/assets/images/{{ include.folder }}/pdf-items/{{ pdf-item.img_src }}" 
                        alt="{{ pdf-item.title | escape }}">
                        <h5 class="grid__item__text">{{ pdf-item.title }}</h5>
                        {%- if pdf-item.author -%}
                        <p class="grid__item__author">{{ pdf-item.author }}</p>
                        {%- endif -%}
                    </a>
            {%- else -%}
                <img 
                class="grid__item__img {{ include.slug }}__item__img"
                src="/assets/images/{{ include.folder }}/pdf-items/{{ pdf-item.img_src }}" 
                alt="{{ pdf-item.title | escape }}">
                <h5 class="grid__item__text">{{ pdf-item.title }}</h5>
                {%- if pdf-item.author -%}
                <p class="grid__item__author">{{ pdf-item.author }}</p>
                {%- endif -%}
            {%- endif -%}
        </div>
    {%- endfor -%}
</div>