---
layout: static-page
title:  "La Bibliothèque George Orwell et la Librairie Stéphane Hessel"
title_img: "biblio/page-title-biblio.jpg" 
permalink: bibliotheque-et-librairie
class: biblio
---

<section class="page-section top">
    <div class="page-section__content">
        <div class="page-section__header-icons biblio__header">
            <div class="page-section__header-icon left">
                {%- include_cached pages/pdf-link.html slug="biblio" link="tdlm-biblio-brochure.pdf" text="brochure bibliothèque George Orwell" -%}
            </div>
            <div class="page-section__header-icon right">
                <img src="/assets/images/biblio/tdlm-biblio-logo.svg" alt="Bibliothèque George Orwell - logo" height="50">
            </div>
        </div>
        <div class="blocks">
            <div class="block">
                <p class="chapeau">La bibliothèque George Orwell des Territoires de la Mémoire permet de répondre aux questions que peuvent se poser les visiteurs de l’exposition permanente <em>Plus Jamais ça&nbsp;! Parcours dans les camps nazis pour résister aujourd’hui</em>. Son objectif est aussi d’en étoffer le propos en développant ses thèmes d’un point de vue géographique, politique et idéologique : nazisme, fascisme, stalinisme, camps de concentration et d’extermination, Shoah, résistance et collaboration. La bibliothèque propose également une approche contemporaine de l’extrémisme en général et de droite en particulier, des génocides et des massacres, des totalitarismes et des dictatures, de la démocratie, des droits humains et de l’engagement citoyen au quotidien. Elle dispose d’un espace rencontre ouvert aux partenariats sur les thématiques de l’association. L’équipe gère également la librairie Stéphane Hessel à La Cité Miroir à Liège. </p> 
            </div>
            <div class="card card--one card--with-icon card--medium-width block">
                <div class="card__icon">
                    <img src="/assets/images/icons/tm-icon-contact.svg" alt="Contact">
                </div>
                <div class="card__content">
                    <p><strong>Bibliothèque George Orwell</strong></p>
                    <ul class="list--no-style">
                        <li><a href="mailto:bibliotheque@territoires-memoire.be">bibliotheque@territoires-memoire.be</a></li>
                        <li>0032 (0) 4 232 70 62</li> 
                    </ul>
                    <hr>
                    <p><strong>Librairie Stéphane Hessel</strong></p>
                    <ul class="list--no-style">
                        <li><a href="mailto:librairie@citemiroir.be">librairie@citemiroir.be</a></li>
                        <li>0032 (0) 4 250 99 59</li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-tuiles">
            {%- include_cached pages/page-tuile.html title="Horaires et informations" url="#horaires-et-informations" imageSlug="biblio" imageFileName="page-biblio-tuile-01.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Deux espaces" url="#deux-espaces" imageSlug="biblio" imageFileName="page-biblio-tuile-02.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Coups de cœur de la bibliothèque" url="#coups-de-coeur" imageSlug="biblio" imageFileName="page-biblio-tuile-03.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Citoyens du Livre" url="#citoyens-du-livre" imageSlug="biblio" imageFileName="page-biblio-tuile-04.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Auteurs & compagnie" url="#auteurs-et-compagnie" imageSlug="biblio" imageFileName="page-biblio-tuile-05.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Ressources & Doc" url="#ressources-doc" imageSlug="biblio" imageFileName="page-biblio-tuile-06.jpg" -%}
            {%- include_cached pages/page-tuile.html title="Librairie Stéphane Hessel" url="#librairie" imageSlug="biblio" imageFileName="page-biblio-tuile-07.jpg" -%}
        </div>
        <div class="biblio__catalogue">
            <a class="button button--blue" href="http://bibliotheque.territoires-memoire.be/">Catalogue en ligne</a>
        </div>
    </div>
</section>

<section id="horaires-et-informations" class="page-section">
    <div class="page-section__content">
        <!-- <div class="card card--red">
            <div class="icon-plus-title">
                <img class="icon-plus-title__icon" src="/assets/images/icons/tm-icon-infos.svg" alt="Infos pratiques">
                <h2>Mesures covid-19</h2>
            </div>
            <p>La bibliothèque reste ouverte mais uniquement sur rendez-vous pendant cette période de confinement.</p>
            <p>Contact : <a href="mailto:bibliotheque@territoires-memoire.be">bibliotheque@territoires-memoire.be</a> et 0472/18.14.26.</p>
        </div> -->
        <div class="card card--one">
            <div class="containers">
                <div class="container container--half">
                    <h2>En pratique</h2>
                    <ul class="list">
                        <li>La documentation est accessible à tous sans conditions, ainsi que la consultation d’internet.</li>
                        <li>L’emprunt de documents n’est autorisé qu’aux membres en règle de cotisation.</li>
                        <li>Durée du prêt&nbsp;: 1 mois.</li>
                        <li>Certains documents (quel que soit le support) ne sont pas empruntables.</li>
                        <li>La Bibliothèque George Orwell n’envoie pas de documents par la poste.</li>
                    </ul>
                </div>
                <div class="container container--half">
                    <div class="icon-plus-title">
                        <img class="icon-plus-title__icon" src="/assets/images/icons/tm-icon-infos.svg" alt="Infos pratiques">
                        <h2>Horaire & accès</h2>
                    </div>
                    <p>La Bibliothèque George Orwell est ouverte&nbsp;:</p>
                    <ul class="list">
                        <li>mardi de 13h à 17h,</li>
                        <li>mercredi de 10h à 17h,</li>
                        <li>vendredi de 10 à 15h.</li>
                        <li>Et sur rendez-vous :
                            <ul class="list list--no-style">
                                <li><a href="mailto:bibliotheque@territoires-memoire.be">bibliotheque@territoires-memoire.be</a></li>
                                <li>04 232 70 62</li>
                            </ul>
                        </li>
                    </ul>
                    <p><strong>Attention, la bibliothèque sera fermée du mardi 27 juillet au vendredi 13 août 2021.</strong></p>
                    <p>Accès&nbsp;:<br>
                    Place Xavier Neujean 22, 4000 Liège, 1<sup>er</sup> étage</p>
                    {%- include_cached pages/pdf-link.html slug="biblio" color="white" link="tdlm-biblio-reglement-ordre-interieur-2020.pdf" text="Règlement d'ordre intérieur" -%}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="deux-espaces" class="page-section">
    <header class="page-section__header">
        <h2 class="page-section__title">Deux espaces</h2>
    </header>
    <div class="page-section__content containers">
        <div class="container container--half">
            <img src="/assets/images/biblio/biblio-2-espaces-01.jpg" alt="La bibliothèque">
            <h3 class="text-centered">La bibliothèque</h3>
            <p>La bibliothèque possède plus de 7 000 monographies, 380 titres de revues différents, 400 documents audiovisuels… L’ensemble représente plus de 40 000 références. Les collections comprennent des ouvrages pointus (destinés à un public universitaire ou connaisseur) mais également des livres vulgarisés (livres pédagogiques, documentaires, témoignages, etc.) et des documents de « lecture plaisir » (romans, BD, films…). Les principaux domaines sont la Seconde Guerre mondiale (les camps nazis, la Collaboration, la Résistance), les totalitarismes de gauche ou de droite, l’extrême droite contemporaine, le racisme, les génocides (des Héréros en Namibie aux Tutsi au Rwanda), la démocratie, les droits de l’Homme, le travail de mémoire, la laïcité et la citoyenneté.</p>
        </div>
        <div class="container container--half">
            <img src="/assets/images/biblio/biblio-2-espaces-02.jpg" alt="L'espace rencontres">
            <h3 class="text-centered">Un espace rencontres</h3>
            <p>Un espace rencontres que l’association peut mettre à votre disposition dans certaines conditions. En effet, cet espace peut être mis volontiers à disposition d’acteurs externes. Il est demandé que les objectifs de l’association et/ou de l’événement soient en rapport avec les finalités des ­Territoires de la Mémoire asbl (citoyenneté, travail de mémoire, démocratie, respect des droits humains…). L’espace rencontres est au 2e étage de La Cité Miroir. Pour savoir ce qui s’y passe, consulter <a href="{{ site_url }}/agenda">l’agenda de l’association</a>.</p>
        </div>
    </div>
</section>

<section id="coups-de-coeur" class="page-section">
    <header class="page-section__header">
        <div class="page-section__img">
            <img src="/assets/images/biblio/coups-de-coeur.jpg" alt="Coups de cœur de la bibliothèque">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
        <h2 class="page-section__title">Coups de cœur de la bibliothèque</h2>
        <p class="page-section__description text-centered">Tous nos coups de cœur sont disponibles à la Bibliothèque George Orwell et à la <a href="http://www.citemiroir.be/fr/librairie">Librairie&nbsp;Stéphane&nbsp;Hessel</a></p>
    </header>
    <div class="page-section__content">
        <div class="pdf-txt books">
            {%- assign booksReversed = site.books | sort: 'version' | reverse -%}
            {% for book in booksReversed limit:15 %}
                {%- include pages/books.html -%}
            {% endfor %}
        </div>
        <p class="text-centered">
            <a class="button button--blue" style="max-width:240px;" href="/archives-coups-de-coeur-bibliotheque">Consulter les archives des coups&nbsp;de&nbsp;cœur</a>
        </p>
    </div>
</section>

<section id="citoyens-du-livre" class="page-section">
    <header class="page-section__header">
        <div class="page-section__img">
            <img src="/assets/images/biblio/citoyens-du-livre-2020.jpg" alt="Groupe de lecteur·rice·s, Les Citoyens du Livre">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
        <h2 class="page-section__title">Groupe de lecteur·rice·s, <em>Les Citoyens du Livre</em></h2>
        <p class="page-section__description">Se rencontrer, discuter, échanger…</p>
        <p class="page-section__description">C’est ce que vous propose la Bibliothèque George Orwell&nbsp;!</p>
        <p class="page-section__description">Autour de thématiques comme l’histoire et la politique, partagez vos découvertes culturelles avec d’autres lecteurs au travers de romans, BD, essais ou encore via le 7<sup>e</sup> art ou le documentaire.</p>
        <p class="page-section__description">Venez découvrir les coups de cœur et les coups de gueule des autres lecteurs et partager les vôtres d’une manière conviviale. Si vous le désirez, vous pourrez même le faire en maniant la plume&nbsp;!</p>
        <p class="page-section__description">Consultez les <a href="/archives-citoyens-du-livre">mémos des précédentes rencontres</a>.</p>
    </header>
    {%- assign curDate = site.time | date: '%Y-%m-%d' -%}
    {%- assign amEvents = site.agenda | where: "tags", "Citoyens du Livre" | sort: 'date_start' -%}
    {%- assign amEventsFiltered = "" | split: ',' -%}
    {%- for event in amEvents -%}
        {%- assign postStartDate = event.date_start | date: '%Y-%m-%d' -%}
        {%- if postStartDate >= curDate -%}
            {% assign amEventsFiltered = amEventsFiltered | push: event %}
        {%- endif -%}
    {%- endfor -%}
    {%- assign amEventsFilteredSize = amEventsFiltered | size -%}
    {% if amEventsFilteredSize > 0 %}
        <div class="page-section__content category category--reverse citoyens-du-livre-events">
            <ul class="post-list list--no-style blocks">  
                {%- for event in amEventsFiltered -%}
                    <li class="block">     
                        {%- include posts/event-template.html reverse="yes" -%}
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    {% endif %}
</section>

<section id="auteurs-et-compagnie" class="page-section">
    <header class="page-section__header">
        <div class="page-section__img">
            <img src="/assets/images/biblio/auteurs-et-compagnie.jpg" alt="Auteurs & compagnie">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
    </header>
    <div class="page-section__content">
        <h2 class="page-section__title">Auteurs & compagnie</h2>
        <p class="page-section__description"></p>
        <p class="page-section__description">Auteurs & Cie » est la rencontre entre l’auteur·rice du livre, le/la réalisateur·rice du film, l’illustrateur·rice de la bande dessinée ou un·e artiste et son public. Elle ouvre une porte qui permet aux questions de trouver une réponse, elle autorise aussi l’auteur·rice à expliciter sa démarche et sa recherche qui font écho au travail de mémoire de l’association.</p>
        <p class="page-section__description">Cette rencontre est menée par un·e spécialiste du sujet proposé afin de creuser le domaine abordé et permettre un éclairage différent voire contradictoire de celui de l’auteur invité. Le public est convié à participer au débat et à échanger avec les invité·e·s. La séance peut être suivie d’une dédicace.</p>
        <p class="page-section__description">Nous avons déjà reçu Ephrem Inganji, Thierry  Huart-Eeckhoudt, Bruno Kartheuser, Thierry Rozenblum, Luce Minet, Olivier Starquit, Alain Colignon, Patrick Séverin, Renaud Duterme, Vénuste Kayimahe, Ángeles Muñoz et Maite Molina Mármol, Martin Conway, Jean-Louis Rouhart, Antoine Mugesera, Raphaël Schraepen, Tania de Montaigne, Laurence Schram, Herman Van Goethem, Henri Deleersnijder, Spéciose Niwemugore, Eugénie Mukamu-gema, Philibert Muzima, Michel Nejszaten, Benito Bermejo, Jacquie Chavance, Guillaume Mazeline, Géraldine Brausch, Benjamin Hennot, Coralie Vankerkhoven et Vincent Engel…</p>

    </div>
</section>

<section id="ressources-doc" class="page-section">
    <header class="page-section__header">
        <div class="page-section__img">
            <img src="/assets/images/biblio/ressources-doc.jpg" alt="Réseau Ressources & Doc">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
    </header>
    <div class="page-section__content">
        <h2 class="page-section__title">Réseau Ressources & Doc, le réseau liégeois des centres de ressources et de documentation </h2>
        <p class="page-section__description">Ressources & Doc est un collectif de 11 partenaires ayant un centre de documentation et/ou de ressources en région liégeoise. Il souhaite favoriser et faciliter l’accès aux ressources et à la documentation sur les thèmes relatifs à la santé, la société et la culture. Il a pour ambition de participer à l’émancipation des publics en éclairant la complexité de la société grâce à des ressources et de la documentation proposant des approches diversifiées et complémentaires.</p>
        <br>
        <div class="page-section__description">
            <p>Ses membres sont&nbsp;:</p>
            <ul>
                <li><a target="_blank" rel="noopener" href="http://www.calif.be/">CALIF</a> (Coordination d’Associations Liégeoises d’Insertion et de Formation)</li>
                <li><a target="_blank" rel="noopener" href="https://cdgai-asbl.wixsite.com/cdgai">CDGAI</a> (Centre de Dynamique des Groupes et d’Analyse Institutionnelle)</li>
                <li><a target="_blank" rel="noopener" href="http://www.cavliege.be/">CAV</a> (Centre Audiovisuel Liège)</li>
                <li><a target="_blank" rel="noopener" href="http://ceds.provincedeliege.be/opac_css/index.php">CEDS</a> (Centre d’Etudes et de Documentation Sociales)</li>
                <li><a target="_blank" rel="noopener" href="https://www.clps.be/">CLPS</a> (Centre Liégeois de Promotion de la Santé)</li>
                <li><a target="_blank" rel="noopener" href="http://blog-interne.cripel.be/">CRIPEL</a> (Centre Régional pour l’Intégration des personnes étrangères ou d’origine étrangère de Liège)</li>
                <li><a target="_blank" rel="noopener" href="https://www.chiroux.be/evenements-externes/ilo-citoyen/">ILO CITOYEN</a> (outilthèque vivante pour une citoyenneté mondiale)</li>
                <li><a target="_blank" rel="noopener" href="http://www.nadja-asbl.be/">NADJA</a> (Traitement Documentation Prévention des Dépendances)</li>
                <li><a target="_blank" rel="noopener" href="https://www.pointculture.be/liege/">POINT CULTURE</a></li>
                <li><a target="_blank" rel="noopener" href="http://www.sips.be/">SIPS</a> (Service d’Information Psycho Sexuelle)</li>
                <li>Et LES TERRITOIRES DE LA MEMOIRE</li>
            </ul>
            <p>Ces associations disposent de ressources théoriques, pédagogiques et audio-visuelles sur des thématiques liées à la santé, au travail social, à la citoyenneté, aux dépendances, à l’immigration…</p>
            <p>Le travail en réseau vise à créer et renforcer les liens entre les différents partenaires dans le cadre de leur mission commune d’information et de documentation et ainsi répondre aux demandes des publics de la façon la plus pertinente possible.</p>  
            <p>Le réseau organise, entre autres, le Petit salon de la documentation et des outils pédagogiques. »</p>
        </div>
    </div>
</section>

<section id="librairie" class="page-section">
    <header class="page-section__header">
        <div class="page-section__img">
            <img src="/assets/images/biblio/librairie-stephane-hessel.jpg" alt="Librairie Stéphane Hessel">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
    </header>
    <div class="page-section__content">
        <h2 class="page-section__title">Librairie Stéphane Hessel</h2>
        <div class="blocks">
            <div class="block">
                <p class="page-section__description">Située au deuxième étage de La Cité Miroir, face à l’accueil, la librairie Stéphane Hessel a choisi la littérature, au sens large, comme outil d’éducation. Outil et vitrine pour les trois associations hébergées à La Cité Miroir - Les Territoires de la Mémoire asbl, le Centre d’Action Laïque de la Province de Liège asbl, et l’asbl MNEMA - elle propose aux visiteurs et visiteuses de découvrir leurs publications ainsi que des ouvrages en lien avec leurs thématiques et avec la programmation des lieux. Ses rayons principaux sont l’histoire internationale des résistances pour la liberté, la Seconde Guerre mondiale, le dialogue des cultures et l’histoire des luttes sociales. Elle présente de nombreux romans, romans graphiques, bandes dessinées, ressources pédagogiques, ainsi qu’une belle sélection de livres pour la jeunesse.</p>
            </div>
            <div class="card card--one card--with-icon card--medium-width block">
                <div class="card__icon">
                    <img src="/assets/images/icons/tm-icon-infos.svg" alt="Infos">
                </div>
                <div class="card__content">
                    <p><strong>Ouverture</strong></p>
                    <p>La librairie modifie ses horaires d’ouverture du 1<sup>er</sup> juillet au 5 septembre 2021&nbsp;:</p>
                    <ul class="list">
                        <li>Ouverture du jeudi au samedi de 12h à 17h.</li>
                        <li>Fermeture du jeudi 29 juillet au samedi 7 août.</li>
                        <li>Fermeture les 1<sup>ers</sup> dimanches du mois de juillet, août et septembre.</li>
                    </ul>
                    <p>Après le 5 septembre 2021&nbsp;: du mardi au samedi et le 1<sup>er</sup> dimanche&nbsp;du&nbsp;mois de&nbsp;12h&nbsp;à&nbsp;17h.</p>
                    <hr>
                    <p><strong>Contact</strong></p>
                    <ul class="list list--no-style">
                        <li><a href="mailto:librairie@citemiroir.be">librairie@citemiroir.be</a></li>
                        <li>+32 (0)4 250 99 59</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>