<article class="post">
    <a class="post__link without-background" href="{{ post.url }}">
        <header class="post__header">
        <div class="post__header__img">
            <img src="{{ post.img_file }}" alt="{{ post.title | escape }}">
            <img src="/assets/images/tm-separateur.svg" alt="" class="tm-separateur" aria-hidden="true">
        </div>
        <div class="post__title">
            <h3>{{ post.title }}</h3>
        </div>
        </header>
        <div class="post__content">
        <div class="post__excerpt">
            <p>{{ post.content | strip_html | truncate: 185, "&nbsp;[…]" }}</p>
        </div>
        </div>
    </a>
</article>
