---
layout: category
title: Archives de l'agenda
permalink: /archives-agenda/
pagination:
  enabled: true
  collection: agenda
  permalink: /:num/
  sort_field: date_start
  sort_reverse: true
---

<div class="agenda agenda--archives">
  <ul class="post-list list--no-style blocks">
    {% for item in paginator.posts %}
      {% assign col = item.collection %}
      {% if col == "agenda" %}
        {% assign event = item %}
        <li class="block post-list__item">{%- include posts/event-template.html -%}</li>
      {% elsif col == "actualites" %}
        {% assign post = item %}
        <li class="block post-list__item">{%- include posts/news-template.html -%}</li>
      {% elsif col == "aide-memoire-numeros" %}
        {% assign am = item %}
        <li class="block post-list__item">{%- include am-num-template.html -%}</li>
      {% elsif col == "books" %}
        {% assign book = item %}
        <li class="block post-list__item block archives-heart__list__item">
          {%- include pages/books.html -%}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>