---
layout: secondary-page
title:  "Emploi"
permalink: emploi
class: emploi
excerpt: none
---
{% assign emplois = site.emploi | sort: 'posted_on' | reverse %}
{% assign curDate = site.time | date: '%Y-%m-%d' %}
{% assign patterns = "" | split: "," %}
{% for page in emplois %}
    {% assign posted_on = page.posted_on | date: '%Y-%m-%d' %}
    {% assign end_of_life = page.end_of_life | date: '%Y-%m-%d' %}
    {% if posted_on <= curDate and end_of_life >= curDate %}
        {% assign patterns = patterns | push:page %}
    {% endif %}
{% endfor %}
{% assign patternSize = patterns | size %}

<div style="max-width: 720px; margin-right:auto;margin-left:auto;">
    {% if patternSize > 0 %}
        <ul class="list list--no-style list-emploi">
        {%- for item in patterns -%}
            <li>
                <p>Offre publiée le {{ item.posted_on | date: "%-d/%-m/%-Y"}}</p>
                <a href="{{ item.url }}"><h3>{{ item.title }}</h3></a>
                {%- if item.subtitle -%}<h4>{{ item.subtitle }}</h4>{%- endif -%}
            </li>
        {%- endfor -%}
        </ul>
    {% else %}
        <p>Désolé, il n'y a aucune offre d'emploi pour le moment.</p>
        <p>En fonction des besoins, l'association ouvre ponctuellement ses portes à de nouveaux collaborateurs & nouvelles collaboratrices. Envie de nous rejoindre l'association et de l'enrichir de vos compétences ? Retrouvez les offres d'emploi dans cette catégorie et n'hésitez pas à nous communiquer vos candidatures spontanées en envoyant votre CV et une lettre de motivation à <a href="mailto:accueil@territoires-memoire.be">accueil@territoires-memoire.be</a></p>
    {% endif %}
</div>


    