.limited-width, %limited-width {
    width:100%;
    max-width:$medium-width;
    margin-right:auto;    
    margin-left:auto;
    padding-right:$su;
    padding-left:$su;

    @media screen and (min-width:1024px) {
        max-width:$max-width;    
    }
}

.limited-width--without-padding, %limited-width--without-padding {
    @extend %limited-width;
    max-width:100%;
    padding-right:0;
    padding-left:0;

    @media screen and (min-width:$max-width) {
        max-width:$max-width;    
    }
}

%after-triangle {
    content:'';
    display:block;
    width: 0;
    height: 0;
    background-color:white;
    border-style: solid;
    border-width: $su $su/2  0 $su/2;
    border-color: $bleu-tm transparent transparent transparent;
    margin:0 auto;
    position: absolute;
    left: 50%;
    margin-left: -$su/2;
    background-color:transparent;
}