/**
 * Main
 */

html {
  scroll-behavior: smooth;
  
  @media screen and (min-width:1921px) {
    background:linear-gradient(to bottom,#fff, #fff 5%, $bleu-tm 100%)
  }
}

body {

  @media screen and (min-width:1921px) {
    max-width:1920px;
    box-shadow: 0px 0px 25px #202020;
    margin:0 auto;
  }

  &.overflow {
    overflow:hidden;  
  }  
}

*, *::before, *::after {
  box-sizing:border-box;  
}

.main {
 
  .wrapper {
    padding:0;   
  }
}

@import 
  "_layout/site-header",
  "_layout/site-footer"
;
