/**
 * Page content
 */

.page-content {
    margin:$su 0 $su*4 0;  

    @media screen and (min-width:1024px) {
        margin-top:$su*2;      
    }
}

.page-header {
  @include relative-font-size(1.5);
  background-color:$bleu-tm;
  color:white;
}

.page-title__container {
    
    &::after {
        @extend %after-triangle;
    }    
}

.page-title {
    @include pj-black; 
    padding:$su*0.75 $su*4 $su $su;
    max-width:$max-width;
    margin:0 auto;
    line-height: 1.3;
    color:white;
    @include relative-font-size(1.8);
    font-size:calc(1rem + 2.5vw);
    min-height: 2em;
    display: flex;
    flex-wrap:wrap;
    align-items: center;

    small {
        font-weight:200;
        width:100%;    
    }

    @media screen and (min-width:1024px) {
        padding-right:$su;
    }

    @media screen and (min-width:1240px) {
        @include relative-font-size(2.5);
    }
}

.page-title__img {

    img {    
        width:100%;
        height:auto;
        object-fit: cover;
        object-position: left;  
        min-height: 170px;
    }
}

.page-section {
    padding-top:$su;
    margin-top:$su*5;

    @media screen and (min-width:$max-width) {
        margin-top:$su*9;
    }

    &.top {
        padding-top:0;
        margin-top:0;

        @media screen and (min-width:1024px) {
            margin-top:$su;
        }

        &.limited {
            max-width: $large-width + $su*2;
            margin-left: auto;
            margin-right: auto;    
        }

        .page-section--top__title {
            margin-bottom:$su*2;
            text-align: center;    
        }

        .chapeau + .page-tuiles {
            margin-top:$su*2;  
        }  

        @media screen and (min-width:1024px) {

            .blocks {
                margin-bottom:$su*2;
            
                @supports (display:grid) {
                    grid: auto-flow / 1fr 370px;
                }
            }
        
            .block {
        
                &.card {
                    width:100%;
                    max-width:370px;
                }
            }
        }
    }

    .wrapper {
        padding-right: $su;
        padding-left: $su;
    }
}

.page-section__header {
    @extend %limited-width--without-padding;

    .card {
        margin-right:$su;    
        margin-left:$su;
    }

    .card--medium-width {

        @media screen and (min-width:$medium-width) {
            max-width:$medium-width - $su*2;
            margin-right:auto;    
            margin-left:auto;    
        }

        @media screen and (min-width:1024px) {
            max-width:100%;
            margin-right:$su;    
        }
    }
}

.page-section__img {
    @extend %limited-width--without-padding;
    max-width:$max-width - $su*2;
    position:relative;
    width:100%;
    border-top: 1px solid $bleu-tm;
    border-bottom: 1px solid $bleu-tm;
    margin:0 auto $su auto;
    padding-bottom:12px;

    img {
        width:100%;
    }
}

.page-section__title {
    @extend %limited-width;
    margin-top:$su/2;
    color:$bleu-tm;
    text-align: center;
    max-width:$large-width;
    margin-right:auto;
    margin-left:auto;

    @media screen and (min-width:1024px) {
        margin-bottom:$su*2;    
    }
}

.page-section__description {
    @extend %limited-width;
    max-width:$large-width;
    @include relative-font-size(1.2);
    
    &:last-of-type {
        margin-bottom:0;
    }
}

.page-section__content {
    margin-top: $su*2;
    @extend %limited-width;

    &.limited {
        max-width: $large-width;    
    }
}

.page-section__header-icons {
    margin-right: auto;
    margin-left: auto;
    hyphens:auto;
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom:$su;
    }

    .pdf-link {
        padding:0;    
        margin-bottom:$su;

        @media screen and (min-width:768px) {
            margin-bottom:0;
        }
    }    
}

.page-section__header-icon {

    &.left {
        margin-right:$su/2;    

        @media screen and (max-width:767px) {
            order:2;
        }
    }

    &.right {
        margin-left:$su/2;    

        @media screen and (max-width:767px) {
            margin-bottom:$su*2;
            text-align: center;
            order:1;
        }
    }
}

.page-footer {
    margin-bottom:$su*4;    
}

.full {
    width:100%;    
}

#am-404 {
    display:none;
    margin-top:$su*2;
    transform:scaleY(0);
    transition:transform 150ms ease-out;
    margin-right:$su;
    margin-left:$su;
    
    &.opened {
        display:block;
        transform:scaleY(1);
    }

    p {
        @include relative-font-size(1.2);
    }
}

@import
    "_pages/association",
    "_pages/eduquer",
    "_pages/voyages",
    "_pages/pjc",
    "_pages/reseau",
    "_pages/biblio",
    "_pages/editions",
    "_pages/soutiens",
    "_pages/publications",
    "_pages/aide-memoire"
;