.secondary-page {

    .post__title {
        max-width:$large-width;
        margin-right:auto;
        margin-left:auto;
    }    

    .page-section {
        padding-top:0;   
        
        &:first-of-type {
            margin-top:0;
        }
    }

    .page-content {
        margin-right:auto;        
        margin-left:auto;
    }
}

.list-soutiens {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        width:100%;
        max-width:220px;
        height:180px;
        margin:0 $su*2 $su*2 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {

            h4 {
                color:$rouge-tm;
            }
        }

        h4 {
            display: block;
            text-align: center;
            min-height:2.7em;
            margin-bottom:0;
        }

        a {
            background: none;
            display:flex;
            align-items: center;
                height: 100%;
        }

        img {
            display: block;
            max-height:100px;
            max-width:220px;
        }
    }
}

.list.list-press {

    li {
        margin-bottom:$su/2;
    }
}

.archives-heart__list.blocks {
    align-items:flex-start;
}

.containers--alc {

    .container {

        h4 {
            margin:0;    
        }

        a.button {
            width: 100%;
            max-width: 232px;
            text-align: center;    
        }    
    }    
}

.alc-archives {
    margin-top:$su*2;    
}

.grid.pdf.alc {
    margin-top:$su*2;    

    .grid__item__img {

        @supports (object-fit:cover) {
            width: 100%;
            height:100%;
            max-height: 266px;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .grid__item__text {
        min-height: 5em;
    }
}

.blocks--alc-2018 {
    margin-top:$su*2;

    .grid__item__text {
        display: block;
    }
}

.alc-secondary {

    .page-section__content {
        margin-bottom: $su*4;
    }

    .embedresize {
        margin-bottom:$su;
    }
}

.archives-am-page {

    .post__title {
        margin-top:$su*4;
    }
}

.ressources-graphiques__block {
    margin-bottom:$su*4;

    h4 {
        margin-bottom:$su;
    }

    .pdf-link__img {
        width:50px;
        height:auto;
        margin-right:$su/2;
    }
}

.ressources-graphiques__block__img {
    width:100%;
    max-width:280px;
    margin-right:$su;
}

.ressources-graphiques__block__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

li.list-cdl__item {
    margin-bottom:$su*2;
}

.pjc-booking {

    .page-section__content {
        max-width:620px;
    }
}

.list-emploi {

    li {
        margin-bottom:$su*2;
    }
    
    p {
        margin-bottom: 0.2em;
    }

    a {
        
        h3 {
            margin-bottom: 0.2em;
            transition:color 150ms ease-out;
        }

        &:hover, &:focus {

            h3 {
                color:$rouge-tm;
            }
        }
    }
}