  h2 {
    @include relative-font-size(1.625);

    @media screen and (min-width:768px) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.25);

    @media screen and (min-width:768px) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.1);

    @media screen and (min-width:768px) {
      @include relative-font-size(1.15);
    }
  }

h2, h3, h4, h5 {
  @include pj-regular;
  line-height: 1.2;
  color:$bleu-tm;
}

::selection, ::-moz-selection {
  background: $bleu-tm;
  color:white;
} 
.card *::selection,
.card *::-moz-selection,
.site-footer *::selection,
.site-footer *::-moz-selection,
.page-title::selection,
.page-title::-moz-selection,
.page-title small::selection,
.page-title small::-moz-selection
 {
  background: white;
  color:$bleu-tm;
} 
.card--reverse *::selection,
.card--reverse *::-moz-selection  {
  background: $bleu-tm;
  color:white;
}


p + .card, ul + .card, p + h2, p + h3, p + h4, ul + h2, ul + h3, ul + h4 {
  margin-top:$su*1.5;  
}

h3 + h4 {
  margin-top:$su;
}

.chapeau:not(h2),
.chapeau:not(h3) {
  @include relative-font-size(1.1);
  
  @media screen and (min-width:400px) {
    @include relative-font-size(1.2);
  } 
}

.middle-space-bottom {
  margin-bottom:$su*2;  
}

.align-right {
  text-align: right;  
}

.double-margin-top {
  margin-top:$su*2;  
}

.no-margin-bottom {
  margin-bottom:0;
}

.text-demi-bold {
  font-weight:500;  
}

.text-centered {
  text-align: center;  
}

.text-italic {
  font-style:italic;  
}

.text-red {
  color:$rouge-tm;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 1rem;
}