<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  {% assign thisPageClass = page.layout %}

  <body id="top" class="{{ thisPageClass }}">
    <div id="disconnected" style="display:none;background: red;padding: 0.3em 0.5em;color: white;position: fixed;width: 100%;z-index: 10;text-align: center;">
      <p style="margin:0;">Aucun accès à Internet. Vous naviguez à présent hors connexion, vous n'aurez accès qu'à une partie limitée de notre site web.</p>
    </div>

    {%- include header.html -%}

    <main class="main" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include scripts.html -%}

  </body>

</html>
