---
layout: default
---
<div class="page {{ page.class }}">

  <header class="page-header">
    <div class="page-title__container">
        <h1 class="page-title">{{ page.title | escape }}
          {%- if page.subtitle -%}
          <br><small>{{ page.subtitle | escape }}</small>
          {%- endif -%}
        </h1>
    </div>
    {%- if page.title_img -%}
      <div class="page-title__img">
          {%- if page.title_img_alt -%}
            {%- assign alt = page.title_img_alt -%}
          {%- else -%}
            {%- assign alt = page.title -%}
          {%- endif -%}
          <picture>
            <source media="(min-width:768px)" srcset="/assets/images/{{ page.title_img }}">
            <source media="(min-width:420px)" srcset="/assets/images/{{ page.title_img }}?nf_resize=fit&w=768">
            <img 
              src="/assets/images/{{ page.title_img }}?nf_resize=fit&w=420"
              width="1240"
              height="480"
              alt="{{ page.title | escape }}">
          </picture>
      </div>
    {%- endif -%}
  </header>

  <div class="page-content">
    {{ content }}
  </div>

</div>
